body
{
	background-color:#C5C5C5;
}

h1
{
	color:#0FF;
	background-color:#666;
	padding-top: 20px;
	padding-bottom: 20px;
	/*font-family:Georgia, "Times New Roman";*/
	text-align:center;
	margin-top: 0px;
}

ol /*change append function in the getDBWhiskey.js to render the output as button*/
{
	/*list-style-type:none;*/
	margin-left:-18px;
	margin-right: -18px;
	/*margin-right:auto;*/
	/*text-align:center;*/
}

div
{
	align-item: center;
	text-align: center;
}


#photo
{
	text-align: center;
	min-height: auto;
	max-height:360px;
	min-width: auto;
	max-width:350px;
	margin-right: 0px;
	margin-left: 0px;
}

#map_canvas
{
	text-align: center;
	max-width:360px;
	max-height:200px;
	margin-right: 0px;
	margin-left: 0px;
}

label#longtt,label#latt
{
	color: #C5C5C5;
}

#back
{
	text-align: center;
	width: 175px;
	height: 40px;
	font-size: 18px;
}

#saveBtn
{
	text-align: center;
	width: 175px;
	height: 40px;
	font-size: 18px;
}

#locateBtn
{
	text-align: center;
	width: 325px;
	height: 32px;
	font-size: 18px;

}

#captureBtn
{
	text-align: center;
	width: 350px;
	height: 40px;
	font-size: 18px;
	margin-left: -20px;
	margin-right: -20px;
}
#loading
{
	text-align: center;
	color: #0B0B61;
}