@media (width:720px) and (height:1280px){
#addPhoto {
	width: 300px;
	margin-left: 210px;
	height: 400px;
	margin-right: 210px;
	position: fixed;
	top: 20px;
	left: 0px;
	bottom: 20px;
}
#addPhoto #photo {

}
#addPhoto #captureBtn {
	width: 200px;
	height: 30px;
	margin-left: 50px;
	position: fixed;
}



}
body {
	width: 720px;
	height: 1280px;
	position: fixed;
}
